@import "compass/reset";

@mixin center($v1,$v2){
	transform: translate($v1,$v2);
	-webkit-transform: translate($v1,$v2);
	-moz-transform: translate($v1,$v2);
	-ms-transform: translate($v1,$v2);
	-o-transform: translate($v1,$v2);
}
@mixin transition($v1,$v2){
	transition: $v1 $v2;
	-webkit-transition: $v1 $v2;
	-moz-transformtransition: $v1 $v2;
	-ms-transition: $v1 $v2;
	-o-transition: $v1 $v2;
}

@mixin serifStack($size,$lheight){
	font-family: "schoolbook-web";
	font-size: $size ;
	font-weight: bold;
	line-height: $lheight;
}

@mixin sansStack(){
	font-family: helvetica neue;
	font-size: .8em;
	line-height: 1.4em;
	text-transform: uppercase;
}

@mixin asideStack(){
	color: white;
	font-size: .6em;
}

body{
}

html, body {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	font-family: helvetica neue;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
video {
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	position: fixed;
	top: 0; left: 0;
	z-index: 0;
}
#cFlood {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0; left: 0;
	z-index: 1;
	pointer-events: none;
	background-color: rgba(160,214,193,.6);
}
#wrap {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	padding: 25px;
	box-sizing: border-box;
	#content{
		pointer-events: none;
		position: absolute;
		top: 50%; left: 50%;
		@include center(-50%,-50%);
		width: 90%;
	}
	#logo {
		float: left;
		width: 30%;
		@include center(-25px,0);
		opacity: 0;
		img {
			width: 100%;
		}
	}
	#copy {
		float: right;
		max-width: 65%;
		h1 {
			@include serifStack(3.8em, .9em);
			color: #172b45;
			margin-bottom: 25px;
			position: relative;
			height: 100px;
			span {
				position: absolute;
				opacity: 0;
			}
		}
		p {
			@include sansStack();
			color: #172b45;
			opacity: 0;
			max-width: 80%;
		}
	}
}
#content, #footer form {
	max-width: 740px;
}
#footer {
	position: fixed;
	bottom: -165px;
	left: 0;
	width: 100%;
	height: 165px;
	background-color: rgba(255,255,255,.1);
	border-top: 3px solid white;
	z-index: 5;
	opacity: 0;
	form {
		width: 60%;
		margin: auto;
		position: relative;
		text-align: center;
	}
	form::after {
		content: '';
		position: absolute;
		bottom: -3px; left: 0;
		width: 100%;
		height: 4px;
		background: url(../img/dots.svg);
	}
	.aside {
		@include asideStack();
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
	input {
		background: none;
		outline: none;
		border: none;
		text-align: center;
		margin-top: 25px;
		color: white;
	}
	input[type=email]{
		@include serifStack(2.0em, 1.5em);
		letter-spacing: 2px;
		font-weight: 100;
		width: 85%;
		text-transform: uppercase;
		margin-bottom: -5px;
	}
	input[type=submit]{
		@include serifStack(2.0em, 1.5em);
		position: absolute;
		bottom: 5px; right: 0;
		height: 30px;
		width: 30px;
		background: url(../img/submit.svg) no-repeat center center;
		-webkit-background-size: cover;
		moz-background-size: cover;
		o-background-size: cover;
		background-size: cover;
		cursor: hand; cursor: pointer;
	}
	#social {
		margin: 25px 0px;
		text-align: center;
		li {
			display: inline-block;
			margin-right: 30px;
			position: relative;
			text-transform: uppercase;
			a {
				text-decoration: none;
				color: white;
				font-size: .7em;
			}
		}
		li:last-child {
			margin-right: 0px;
		}
		li:nth-child(2):before, li:nth-child(2):after{
			content: '';
			position: absolute;
			top: 6px;
			height: 3px; width: 3px;
			background-color: white;
			border-radius: 50%;
		}
		li:nth-child(2):before {
			left: -15px;
		}
		li:nth-child(2):after {
			right: -17px;
		}
	}

}
#splashSplash {
	position: absolute;
	top: 50%; left: 50%;
	@include center(-50%,-50%);
	text-align: center;
	z-index: 500;
	width: 90%;
	max-width: 670px;
	img {
		width: 100%;
	}
	.agegateBtn {
		opacity: 0;
	}
	.ageBtn {
		border: 4px solid white;
		border-radius: 4px;
		display: inline-block;
		color: white;
		margin: 10px 0px;
		cursor: hand; cursor: pointer;
		box-sizing: border-box;
		position: relative;
		height: 40px;
		width: 40px;
		img {
			height: 70%;
			width: 70%;
			margin-top: 15%;
		}
		.fill {
			position: absolute;
			bottom: 0; left: 0;
			width: 0%;
			height: 100%;
			background-color: rgba(255,255,255,.3);
			@include transition(width, 250ms);
		}
	}
	.ageBtn:nth-child(2) {
		.fill {
  			left: auto;
			right: 0;
		}
	}
	.ageBtn:hover {
		.fill {
			width: 100%;
		}
	}
	.aside {
		@include sansStack();
		color: white;
	}
}



.pace .pace-progress {
  background: #fcfff4;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

::-webkit-input-placeholder {
   color: white;
   letter-spacing: 2px;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
   letter-spacing: 2px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
   letter-spacing: 2px;
}

:-ms-input-placeholder {  
   color: white;  
   letter-spacing: 2px;
}
input.submitted {
	pointer-events: none;
	opacity: .7 !important;
}
input[type=email]::-webkit-input-placeholder  {
  -webkit-transition: opacity 0.2s linear; 
}
input[type=email]:focus::-webkit-input-placeholder{
	opacity: 0 !important;
}
input[type=email]:hover::-webkit-input-placeholder  {
  opacity: 0.4;
}
input.submitted::-webkit-input-placeholder  {
  opacity: .7;
}

@media (min-width:641px) and (max-width: 750px){
	#wrap {
		#copy {
			h1 {
				font-size: 3em;
				height: 80px;
			}
		}
	}
	#footer {
		input[type=email]{
			width: 80%;
		}
	}
}
@media (max-width: 640px) {
	html, body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
	#wrap {
		position: inherit;
		height: 100%;
		#logo {
			@include center(0%,0);
			float: none;
			width: 40%;
			max-width: 160px;
			margin: 0px auto 15px auto;
		}
		#content{
			pointer-events: none;
			position: inherit;
			top: 0%; left: 0%;
			@include center(0%,0%);
			width: 100%;
		}
		#copy {
			width: 100%;
			max-width: 100%;
			margin: auto;
			float: none;
			h1 { 
				height: 50px;
				font-size: 2em;
				span {
					width: 100%;
					text-align: center;
				}
			}
			p {
				text-align: center;
				max-width: 295px;
				margin: auto;
			}
		}
	}

	#footer {
		position: inherit;
		bottom: 0px;
		opacity: 0;
		background-color: rgba(255,255,255,0);
		form {
			width: 90%;
		}
		input[type=email]{
			width: 75%;
		}
	}
}