/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 40, ../sass/style.scss */
html, body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: helvetica neue;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

/* line 49, ../sass/style.scss */
video {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* line 58, ../sass/style.scss */
#cFlood {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  background-color: black;
}

/* line 67, ../sass/style.scss */
#wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
/* line 72, ../sass/style.scss */
#wrap #content {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  max-width: 740px;
}
/* line 80, ../sass/style.scss */
#wrap #logo {
  float: left;
  width: 25%;
  transform: translate(150%, 0);
  -webkit-transform: translate(150%, 0);
  -moz-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  -o-transform: translate(150%, 0);
  opacity: 0;
}
/* line 85, ../sass/style.scss */
#wrap #logo img {
  width: 100%;
}
/* line 89, ../sass/style.scss */
#wrap #copy {
  float: right;
  max-width: 65%;
}
/* line 92, ../sass/style.scss */
#wrap #copy h1 {
  font-family: "schoolbook-web";
  font-size: 3.5em;
  font-weight: bold;
  line-height: 0.9em;
  color: #424242;
  margin-bottom: 25px;
  position: relative;
  height: 150px;
}
/* line 98, ../sass/style.scss */
#wrap #copy h1 span {
  position: absolute;
  opacity: 0;
}
/* line 103, ../sass/style.scss */
#wrap #copy p {
  font-family: helvetica neue;
  font-size: .7em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  max-width: 80%;
}

/* line 112, ../sass/style.scss */
#footer {
  position: fixed;
  bottom: -165px;
  left: 0;
  width: 100%;
  height: 165px;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid white;
  z-index: 5;
}
/* line 121, ../sass/style.scss */
#footer form {
  width: 60%;
  margin: auto;
  position: relative;
  text-align: center;
  border-bottom: 1px dotted white;
}
/* line 128, ../sass/style.scss */
#footer .aside {
  color: white;
  font-size: .6em;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
/* line 134, ../sass/style.scss */
#footer input {
  background: none;
  outline: none;
  border: none;
  text-align: center;
  margin-top: 25px;
  color: white;
}
/* line 142, ../sass/style.scss */
#footer input[type=email] {
  font-family: "schoolbook-web";
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  letter-spacing: 2px;
  font-weight: 100;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: -5px;
  cursor: hand;
  cursor: pointer;
}
/* line 151, ../sass/style.scss */
#footer input[type=submit] {
  font-family: "schoolbook-web";
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 35px;
  width: 35px;
  background: url(../img/submit.png) no-repeat center center;
  -webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  cursor: hand;
  cursor: pointer;
}
/* line 164, ../sass/style.scss */
#footer #social {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25px);
  -webkit-transform: translate(-50%, 25px);
  -moz-transform: translate(-50%, 25px);
  -ms-transform: translate(-50%, 25px);
  -o-transform: translate(-50%, 25px);
}
/* line 168, ../sass/style.scss */
#footer #social li {
  float: left;
  margin-right: 30px;
  position: relative;
  text-transform: uppercase;
}
/* line 173, ../sass/style.scss */
#footer #social li a {
  text-decoration: none;
  color: white;
  font-size: .7em;
}
/* line 179, ../sass/style.scss */
#footer #social li:nth-child(2):before, #footer #social li:nth-child(2):after {
  content: '';
  position: absolute;
  top: 6px;
  height: 3px;
  width: 3px;
  background-color: white;
  border-radius: 50%;
}
/* line 187, ../sass/style.scss */
#footer #social li:nth-child(2):before {
  left: -15px;
}
/* line 190, ../sass/style.scss */
#footer #social li:nth-child(2):after {
  right: -17px;
}

/* line 196, ../sass/style.scss */
#splashSplash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 500;
}
/* line 202, ../sass/style.scss */
#splashSplash .logoType {
  position: relative;
  width: 520px;
  height: 41px;
}
/* line 206, ../sass/style.scss */
#splashSplash .logoType img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 212, ../sass/style.scss */
#splashSplash .ageBtn {
  border: 1px solid white;
  display: inline-block;
  color: white;
  margin: 10px 0px;
  cursor: hand;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  height: 35px;
  width: 35px;
}
/* line 222, ../sass/style.scss */
#splashSplash .ageBtn img {
  height: 70%;
  width: 70%;
  margin-top: 15%;
}
/* line 227, ../sass/style.scss */
#splashSplash .ageBtn .fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: width 250ms;
  -webkit-transition: width 250ms;
  -moz-transformtransition: width 250ms;
  -ms-transition: width 250ms;
  -o-transition: width 250ms;
}
/* line 237, ../sass/style.scss */
#splashSplash .ageBtn:nth-child(2) .fill {
  left: auto;
  right: 0;
}
/* line 243, ../sass/style.scss */
#splashSplash .ageBtn:hover .fill {
  width: 100%;
}
/* line 247, ../sass/style.scss */
#splashSplash .aside {
  color: white;
  font-size: .6em;
  margin-top: 35px;
}

/* line 255, ../sass/style.scss */
.pace .pace-progress {
  background: #fcfff4;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

/* line 269, ../sass/style.scss */
.pace-inactive {
  display: none;
}

/* line 273, ../sass/style.scss */
::-webkit-input-placeholder {
  color: white;
  letter-spacing: 2px;
}

/* line 278, ../sass/style.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: white;
  letter-spacing: 2px;
}

/* line 283, ../sass/style.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  letter-spacing: 2px;
}

/* line 288, ../sass/style.scss */
:-ms-input-placeholder {
  color: white;
  letter-spacing: 2px;
}

/* line 293, ../sass/style.scss */
input[type=email]::-webkit-input-placeholder {
  -webkit-transition: opacity 0.2s linear;
}

/* line 296, ../sass/style.scss */
input[type=email]:focus::-webkit-input-placeholder {
  opacity: 0 !important;
}

/* line 299, ../sass/style.scss */
input[type=email]:hover::-webkit-input-placeholder {
  opacity: 0.4;
}
